*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

.preventSelect{
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

.dragable{
    -webkit-app-region: drag;
}

.non-dragable{
    -webkit-app-region: none;
}

.container{
    width: 100%;
    height: calc(100% - 30px);
    display: flex;
    flex-direction: column;
}

/*Header*/

.defaultHeader{
    display: flex;
    width: 100%;
    height: 30px;
    flex-direction: row;
    justify-content: space-between;
    background-color: #202327; 
    font-size: 10pt;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.logo{
    display: flex;
    align-items: center;
    color: white;
    padding: 5px;
}

.header-logo-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: hidden;
}


.header-menu ul{
    display: flex;
    margin: 0;
    padding: 0;
    margin-left: 10px;
}

.header-menu li{
    font-size: 12px;
    list-style-type: none;
    text-align: left;
    padding: 2px 5px;
    border-radius: 3px;
    color: #a6a9af;

}

.header-menu li:hover{
    font-size: 12px;
    list-style-type: none;
    background-color: #ffffff2c;
    color: white;
}

.windowControls{
    height: 100%;
}

.windowControls button{
    outline: 0;
    border: 0;
    background: none;
    color: #fff;
    font-weight: bold;
    padding: 0 15px;
    height: 100%;
}

.windowControls button:hover{
    background-color: #48494c;
}

/*default interface*/

.default-interface{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

/*aside*/

.aside{
    width: 400px;
    height: 100%;
    background-color: #1D1D1D;
    display: flex;
    overflow: hidden;
    justify-content: center;
    position: relative;
    font-family: 'Montserrat', sans-serif;
}

.resizable-Files{
    width: 5px;
    height: 100%;
    background-color: #10b1fe;
    position: absolute;
    right: -1px;
    top: 0;
    cursor: col-resize;
    opacity: 0;
}

.resizable-Files:hover{
    opacity: 1;
    z-index: 10;
}

.container-twoParts-block{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.container-section-tipe-block{
    width: 100px;
    height: 100%;
    color: white;
    border-right: white solid 1px;
}

.container-type-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
}
.container-type-block:hover{
    background-color: #313030;
}

.circleTypeBlock{
    width: 20px;
    height: 20px;
    border-radius: 60px;
}

.name-type-block p{
    text-transform: uppercase;
    font-size: 8px;
    font-weight: 300;
    margin-top: 10px;
}

.container-scrool-aside{
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    padding: 15px;
    text-align: center;
    color: white;
    scroll-behavior: smooth;
}

.container-scrool-aside::-webkit-scrollbar{
    width: 10px;
    height: 100%;
    background: transparent;
    border-left: solid rgb(68, 68, 68) 0.5px;
    border-right: solid rgb(68, 68, 68) 0.5px;
    padding: 2px;
}

.container-scrool-aside::-webkit-scrollbar-thumb{
    background-color: rgba(255, 255, 255, 0.247);
    border-radius: 5px;
}

.containerDefaultBlock{
    width: 300px;
}

.containerDefaultBlock h4{
    margin: 15px 0;
    text-align: left;
}

/*Main*/

.main{
    width: 100%;
    height: 100%;
    background-color: #393939;
    overflow: scroll;
    position: relative;
}

.main::-webkit-scrollbar{
    
    background: rgb(46, 46, 46);
    border-left: solid rgb(68, 68, 68) 0.5px;
    border-right: solid rgb(68, 68, 68) 0.5px;
    padding: 2px;
}

.main::-webkit-scrollbar-thumb{
    background-color: rgba(255, 255, 255, 0.247);
    border-radius: 5px;
}

.divContainerClones svg{
    width: 400px;
    position: absolute;
}

.containerBlockClone{
    display: block;
}

.blockClone{
    position: absolute;   
}

.trash{
    width: 80px;
    height: 80px;
    border-radius: 120px;
    background-color: rgb(0, 110, 255);
    position: absolute;
    bottom: 50px;
    right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trash img{
    width: 60px;
}
.btnRun{
    width: 30px;
    height: 30px;
    background-color: white;
}


.btnRun:hover{
    width: 30px;
    height: 30px;
    background-color: rgb(143, 143, 143);
}


